
      body {
        background: linear-gradient(to right, #74ebd5, #acb6e5);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .card {
        width: 700px;
        border: none;
        border-radius: 15px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      }

      .card-header {
        background: chocolate;
        color: white;
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        border-radius: 15px 15px 0 0 !important;
      }

      .btn-primary {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
      }

      #itemList li {
        font-size: 18px;
        padding: 12px;
        margin-bottom: 10px;
        border-radius: 8px;
        background: #f8f9fa;
        border-left: 5px solid #0d6efd;
      }
      .card-body {
        background-color: palevioletred;
      }
    